@import "tailwindcss";

@theme {
    --color-texts: #000306;
    --color-free-send: #032340;
    --color-orange: #FA541C
}


@layer components {
    .container {
        @apply px-6 sm:px-10 lg:px-20 xl:px-24;
    }
}

